<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_account.css') }}">
</head>
<body>
    
    <div class="wrapper">
       
        <div class="account_header">
            <h1>Hello {{ session['name'] }}!</h1>
        </div>
       
        {%for partner in partners%}
        <p>My Partner</p>
        <p><a href ="/partnership/{{partner['partner_id']}}">{{partner['first_name']}} {{partner['last_name']}}</a></p>
        {%endfor%}

        {%for partnership in partnerships%}
        <p>My Partner</p>
        <p><a href ="/partnership/{{partnership['partner_id']}}">{{partnership['first_name']}} {{partnership['last_name']}}</a></p>
        {%endfor%}
        <h3>My Tasks</h3>
        {% for task in tasks %}
        
        <p>{{task['description']}} worth {{task['value']}} Wifey Points</p>
        {%endfor%}
        <h4><a href ="/rewards">Rewards Store</a></h4>
        <a href ="/on_logout">|logout|</a>
        <a href ="/partners">|partners|</a>
</body>
</html>