<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin or Kid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/become_admin.css') }}">
</head>
<body>
    <div class = "wrapper">
        <div class="roof">
            <h1>Hello {{ session['name'] }}!</h1>
        </div>
        <div class="heading">
            <h2>Marriage Title</h2>
        </div>
        <div class = "form">
            <ul>
                {% for user in users %}
                <li>
                <form action="/husband_click/{{user['id']}}" method="POST">
                    <p>Husband</p>
                    <input type="submit" value="Click">
                </form></li>
                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <li>
                <form action="/wife_click/{{user['id']}}" method="POST">
                    <p>Wife</p>
                    <input type="submit" value="Click">
                </form></li>
            </ul>
        </div>
                {% endfor %}
        <div class="bottom_links">
            <a href ="/on_logout">Logout</a>
            <a href ="/account"> Home</a>
            <a href ="/create_home"> Create Home</a>
        </div>
    </div>
</body>
</html>