<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="account_header">
        <h4>Hello {{ session['name'] }}!</h4>
    </div>
   
    {%for partner in partners%}
    <h1><a href ="/partnership/{{partner['id']}}">{{partner['first_name']}} {{partner['last_name']}}'s  Page</a></h1>
    <br>
    <p>Tasks</p>
    <form action="/on_create_task/{{partner['id']}}/{{partner['partner_id']}}" method="POST">
        <p>Description: <input type ="text" name="des"></p>
        <p>Value: <input type ="number" name="val"></p>
        <input type="submit" value="Build Work-Ethic">
    </form> 
    <br>
    <p>Reward Store</p>
    <form action="/on_create_task/{{partner['id']}}/{{partner['partner_id']}}" method="POST">
        <p>Description: <input type ="text" name="des"></p>
        <p>Value: <input type ="number" name="val"></p>
        <input type="submit" value="Build Work-Ethic">
    </form> 
    {% endfor %}
    {%for partnership in partnerships%}
    
    <h1><a href ="/partnership/{{partnership['id']}}/{{partnership['user_id']}}">{{partnership['first_name']}} {{partnership['last_name']}}'s  Page</a></h1>
    <br>
    <p>Tasks</p>
    <form action="/on_create_task/{{partnership['id']}}/{{partnership['user_id']}}" method="POST">
        <p>Description: <input type ="text" name="des"></p>
        <p>Value: <input type ="number" name="val"></p>
        <input type="submit" value="Build Work-Ethic">
    </form> 
    <br>
    <p>Reward Store</p>
    <form action="/on_create_reward/{{partnership['id']}}/{{partnership['user_id']}}" method="POST">
        <p>Description: <input type ="text" name="des"></p>
        <p>Value: <input type ="number" name="val"></p>
        <input type="submit" value="Build Work-Ethic">
    </form> 
    {% endfor %}
    <br>
    
    <h3>Tasks</h3>
    {% for task in tasks %}
    <p>{{task['description']}} worth {{task['value']}} Wifey Points</p>
    {%endfor%}

    <h3>Rewards</h3>
    {% for reward in rewards %}
    <p>{{reward['description']}} worth {{reward['value']}} Wifey Points</p>
    {% endfor %}
    <a href ="/on_logout">|logout|</a>
    <a href ="/account">|account|</a>
</body>
</html>